*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: rgb(58, 58, 58);
	font-family: sans-serif;
	font-size: 0.6em;
	margin: 0 auto;
	min-height: 100vh;
}

main {
	min-height: calc(100vh - 15em);
	background-color: white;
	padding: 20px;
}

header {
	text-align: center;
	font-size: 2em;
	outline: solid 2px black;
}

.slogan {
	background-color: #e81408;
	color: white;
}
.heading {
	background-color: lightblue;
	/* padding: 10px; */
}
.comment {
	background-color: lightsalmon;
	/* padding: 10px; */
}

.item-container {
	display: flex;
	flex-direction: column;
	/* max-height: 80%; */
	flex-wrap: wrap;
	background-color: #fffcdd;
	margin: 0 auto;
	border: 5px solid grey;
	outline: solid 2px black;
}

.item {
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;
	margin: 5px 20px;
	width: 20%;
	border: black solid 2px;
	background-color: aqua;
}

.ref {
	border: black solid 2px;
}

.link {
	color: #e81408;
	border: blueviolet solid 2px;
}

footer {
	text-align: right;
	padding: 10px;
	background-color: #999999;
	color: white;
	font-size: 2em;
}
